<form method="POST" action="/profile/<%= user.id %>" class="col-lg-6 col-sm-12 mx-auto">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-field">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required value="<%= user.username %>"class="input-field" disabled>
  </div>
  <div class="form-field">
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>"class="input-field" autofocus>
  </div>
  <div class="form-field">
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>"class="input-field">
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required value="<%= user.email %>"class="input-field">
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="input-field" required>
  </div>
  <div class="form-field">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="input-field" required>
  </div>

  <button class="btn btn-primary">Edit Profile</button>
</form>
