<div class="row">
<div class="col-lg-6 col-sm-12 mx-auto">
<h1>Username:<%= user.username %></h1>

<h1>First Name: <%= user.firstname %></h4>
<h1>Last Name: <%= user.lastname %></h4>

<h1>Email Address: <%= user.email %></p>

<div class="btn-group">
<a href="/profile/edit"><button class="btn btn-secondary">Edit Profile</button></a>
<form method="POST" action="/profile/<%= user.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger">Delete Profile</button>
</form>
</div>
</div>
</div>
