<div class="row">
  <div class="col-lg-6 col-sm-12 mx-auto">
    <h4>Username: <span class="profile-text"><%= user.username %></span></h1>
    <h4>First Name: <span class="profile-text"><%= user.firstname %></span></h4>
    <h4>Last Name: <span class="profile-text"><%= user.lastname %></span></h4>
    <h4>Email Address: <span class="profile-text"><%= user.email %></span></h4>

    <% websites.forEach((website) => { %>
      <% if(locals.isAuthenticated && website.belongsTo(user)) { %>
        <h1><%= website.name %></h1>
      <% } %>
    <% }); %>



    <div class="btn-group">
      <a href="/profile/edit"><button class="btn btn-secondary">Edit Profile</button></a>
      <form method="POST" action="/profile/<%= user.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger">Delete Profile</button>
      </form>
    </div>
  </div>
</div>
