<div class="showpage container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <a href="<%= website.url %>" target="_blank"><img class="show-website" src="<%= website.screenshotUrl %>"></a>
      <blockquote class="blockquote text-center"><p><span class="quotation-marks">‘‘</span><%= website.description %><span class="quotation-marks">’’</span></p></blockquote>
      <div class= "btn-group">
        <% if(locals.isAuthenticated && website.belongsTo(user)) { %>
        <a href="/websites/<%= website.id %>/edit"><button class="btn btn-secondary">Edit Website</button></a>
        <form method="POST" action="/websites/<%= website.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger">Delete Website</button>
        </form>
        <% } %>
      </div>
    </div>

    <div class="col-lg-3">
      <section>
      <h1>Feedback</h1>
      <% website.comments.forEach((comment) => { %>
        <div class="comments">
          <p class="comment-text"><%= comment.content %></p>
          <small>Feedback by: <%= comment.createdBy.username %> at <%= comment.createdAt %></small>
          <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
            <form method="POST" action="/websites/<%= website.id %>/comments/<%= comment.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-xs btn-link"><small>Delete Feedback</small></button>
            </form>
            <% } %>
            </div>
        <% }) %>
        <% if(locals.isAuthenticated) { %>
          <form method="POST" action="/websites/<%= website.id %>/comments">
          <textarea name="content" id="content" placeholder="Leave your feedback"></textarea>
          <button class="btn btn-secondary">Submit</button>
          </form>
        <% } else { %>
          <p><a href="/login">Log in </a> to leave feedback</p>
        <% } %>

      </section>
    </div>
  </div>
</div>
